body {
	padding-bottom: 40px;
}

.table tbody tr.bold_gray td {
	background-color: #DDDDDD;
	font-weight: bold;
}

select:focus {
	border:1px solid #5385fe!important;
}

.hero-unit {
	background-color: #EEEEEE;
	border-radius: 6px 6px 6px 6px;
	margin-bottom: 30px;
	padding: 30px;
}

.form-actions {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none;
}

@media (min-width: 768px) and (max-width: 979px) {
	body {
  	font-size: 11px;
	}

	.hero-unit {
		background-color: #EEEEEE;
		border-radius: 6px 6px 6px 6px;
		margin-bottom: 10px;
		padding: 10px;
	}

}

@media (max-width: 767px) {
	body {
  	font-size: 9px;
	}

	.hero-unit {
		background-color: #EEEEEE;
		border-radius: 6px 6px 6px 6px;
		margin-bottom: 10px;
		padding: 10px;
	}

}

.operationSubHeader {
	font-style: italic;
	font-weight: bold;
}